<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandleBars Template Engine</title>
</head>
<body>
    <header>
        <h1>MAIN TEMPLATE</h1>
        <nav>
            <span>
                <a href="/">Home</a> |
                <a href="zipcodes">Código Postal</a>
            </span>
        </nav>
        <hr>
    </header>
    <!-- INICIO CONTENIDO -->
    {{{body}}}
    <!-- FIN CONTENIDO -->

</body>
</html>